.navitem{
    text-decoration: none;
    margin-right: 30px;
    color: lightgreen;
    
}
.card{
   
    height: 200px;
   margin-right: 10px;
}
.dfg{
    text-align: center;
}
.card-body{
background-color: aquamarine;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border:5px solid burlywood;
    /* padding: 2px; */
    margin:70px;
    width: 500px;
   position: relative;
    left: 200px;
    
}
  .colouring{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
   
    }
    .tgn{
        position: relative;
        bottom: 170px;
    }
    .but{
        position: relative;
        left: 100px;
        top: 100px;
    }
    .cont{
        background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.cvb{
    position: relative;
    bottom: 180px;
}
.jkl{
    position: relative;
    bottom: 170px;
}
.style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 600px;
    position: relative;
    left: 300px;
    
}
.style{
    background-color: light rgb(28, 55, 210);
}

  

